@font-face {
    font-family: Nunito;
    src: url('font/Nunito-VariableFont.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito;
}

.navbar .container a {
    font-weight: 600;
    color: #234CAD !important;
}

.navbar .hvr-underline-from-center:before {
    background-color: #234CAD;
    border-radius: 4rem;
}

.navbar .menu-bars {
    padding: 2px 11px 2px 11px;
    background-color: #F2F6FF;
}

.navbar .login-signup .btn {
    font-weight: 700;
    width: 95px;
}

.login-signup #login {
    color: #234CAD !important;
    border: 2px #234CAD solid;
}

.login-signup #login:hover {
    color: #fff !important;
    background-color: #234CAD;
    border: none;
}

.login-signup #signup {
    border: none;
    color: #234CAD !important;
    background-color: #F2F6FF !important;
}

.login-signup #signup:hover {
    color: #fff !important;
    background-color: #234CAD !important;
}

.login-signup #user-log {
    border: none;
    color: #234CAD !important;
    background-color: #F2F6FF !important;
}

.login-signup #logout {
    border: none;
    color: #234CAD !important;
    background-color: #F2F6FF !important;
}

.login-signup #logout:hover {
    color: #fff !important;
    background-color: #234CAD !important;
}

.banner {
    padding-top: 130px;
    padding-bottom: 95px;
}
.banner .container .row {
    border-radius: 4rem;
    background-color: #F2F6FF;
}

.banner .desc-left {
    margin-top: 138px;
}

.banner .desc-left h2 {
    color: #234CAD;
    line-height: 55px;
    font-size: 38px;
    font-weight: 700;
}

.banner .desc-left p {
    color: #234CAD;
    line-height: 21px;
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
}

.banner .desc-left .btn {
    color: #234CAD !important;
    border: 2px #234CAD solid;
    font-weight: 700;
    width: 150px;
    height: 47px;
}

.banner .desc-left .btn:hover {
    background-color: #234CAD !important;
    color: #fff !important;
    border: none;
}

.benefits {
    margin-top: 100px;
}

.cloud-sec .rounded-circle {
    height: 80px;
    width: 85px;
    background-color: #F2F6FF;
}

.cloud-title {
    font-size: 23px;
    font-weight: 600;
    color: #234CAD;
}

.cloud-desc {
    font-size: 15px;
    font-weight: 400;
    color: #234CAD;
}

#icon-lock {
    height: 60px;
}
.lock-sec .rounded-circle {
    height: 80px;
    width: 85px;
    background-color: #F2F6FF;
}

.lock-title {
    font-size: 23px;
    font-weight: 600;
    color: #234CAD;
}

.lock-desc {
    font-size: 15px;
    font-weight: 400;
    color: #234CAD;
}

.product-feat-1 {
    margin-bottom: 230px;
}

.product .parent {
    padding-top: 50px;
}

.product .parent .con-left {
    border-radius: 4rem;
    background-color: #F2F6FF;
}

.product .child-1 {
    padding: 118px 0 115px 0;
}

.child-1 .card-con-1 {
    width: 438px;
}

.child-1 .card-con-2 {
    width: 350px;
}

.child-1 .card-con-3 {
    width: 262px;
}

.card-con-1 .img-con-1 {
    width: 388px;
}

.card-con-2 .img-con-2 {
    width: 310px;
}

.card-con-3 .img-con-3 {
    width: 231px;
}

.con-right h2 {
    font-size: 42px;
    font-weight: 700;
    color: #234CAD;
}

.con-right p {
    font-size: 18px;
    font-weight: 400;
    color: #234CAD;
}

.con-right .btn {
    color: #234CAD !important;
    border: 2px #234CAD solid;
    font-weight: 700;
    width: 150px;
    height: 47px;
    margin-top: 20px;
}

.con-right .btn:hover {
    background-color: #234CAD !important;
    color: #fff !important;
    border: none;
}

.product-feat-2 {
    margin-top: 150px;
}

.product .title-feat-2 h2 {
    font-size: 48px;
    font-weight: 700;
    color: #234CAD;
}

.product .desc-feat-2 {
    width: 40%;
    font-size: 16px;
    font-weight: 400;
    color: #234CAD;
}

.product-feat-2 .features-2 {
    border-radius: 4rem;
    background-color: #F2F6FF;
    margin-top: 100px;
}

.features-2 img {
    height: 595px;
}

.about {
    margin-top: 200px;
}

.about-left h2 {
    font-size: 42px;
    font-weight: 700;
    color: #234CAD;
}

.about-left p {
    font-size: 18px;
    font-weight: 400;
    color: #234CAD;
}

.about-left .btn {
    color: #234CAD !important;
    border: 2px #234CAD solid;
    font-weight: 700;
    width: 150px;
    height: 47px;
    margin-top: 20px;
}

.about-left .btn:hover {
    background-color: #234CAD !important;
    color: #fff !important;
    border: none;
}

.about .parent .about-right {
    border-radius: 4rem;
    background-color: #F2F6FF;
}

.child-1 .img-about {
    width: 627px;
}

.pricing {
  margin-top: 150px;
}

.pricing .title-price h1 {
  font-size: 48px;
  font-weight: 700;
  color: #234CAD;
}

.pricing .desc-price {
  width: 35%;
  font-size: 16px;
  font-weight: 400;
  color: #234CAD;
}

.pricing .card-price-side {
  border-radius: 4rem;
  background-color: #F2F6FF;
}

.pricing .card-price-mid {
  border-radius: 4rem;
  border: 3px #234CAD solid;
}

.pricing h5 {
  font-size: 25px;
  font-weight: 400;
  color: #234CAD;
}

.pricing h1 {
  font-size: 56px;
  font-weight: 700;
  color: #234CAD;
}

.pricing .card-price-side button {
  background-color: white;
  width: 165px;
  height: 55px;
  color: #234CAD;
  font-weight: 700;
  font-size: 18px;
}

.pricing .card-price-mid button {
  background-color: white;
  border: 2px #234CAD solid;
  width: 165px;
  height: 55px;
  color: #234CAD;
  font-weight: 700;
  font-size: 18px;
}

.pricing button:hover {
  background: #234CAD !important;
  border-radius: 4rem;
  color: #ffffff;
} 

.contact {
    margin-top: 150px;
}

.contact .container {
    background-color: #F2F6FF;
    border-radius: 4rem;
}

.contact .sec-text {
    padding-top: 120px;
}
  
.contact .title-contact h2 {
    font-size: 48px;
    font-weight: 700;
    color: #234CAD;
}

.contact .desc-contact {
    width: 33%;
    font-size: 16px;
    font-weight: 400;
    color: #234CAD;
}

.contact .form-floating {
    position: relative;
}

.contact .sec-input .mb-5 {
    margin-bottom: 70px !important;
}

.contact input {
    border-radius: 1.2rem;
    height: 60px !important;
}

.contact label {
    color: #234CAD;
    font-weight: 400;
    opacity: 50%;
}

.contact a {
    position: absolute;
    bottom: calc(18%);
    left: calc(88%);
    background-color: #234CAD;
    border-radius: 0.7rem;
}

.contact a:hover {
    background-color: #234CAD;
}

.contact a:active {
    background-color: #142d66 !important;
}

.contact img {
    width: 12px;
    height: 16px;
}

.contact .icon {
    color: #fff;
    font-size: 17px;
    padding: 15px 2px 15px 2px;
}

footer {
    margin-top: 200px;
    margin-bottom: 100px;
}

.footer h3 {
    color: #234CAD;
    font-weight: 700;
    font-size: 30px;
}

.footer p {
    font-weight: 400;
    color: #234CAD;
    font-size: 18px;
    width: 50%;
}

.footer a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #234CAD;
}

.modal h1 {
    font-weight: 600;
    color: #234CAD;
}

.modal a {
    text-decoration: none;
}