@font-face {
    font-family: Nunito;
    src: url('font/Nunito-VariableFont.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito;
}

/* navbar */
.navbar .container a {
    font-weight: 600;
    color: #234CAD !important;
}

.navbar .hvr-underline-from-center:before {
    background-color: #234CAD;
    border-radius: 4rem;
}

.navbar .menu-bars {
    padding: 2px 11px 2px 11px;
    background-color: #F2F6FF;
}

.navbar .login-signup .btn {
    font-weight: 700;
    width: 95px;
}

.login-signup #login {
    color: #234CAD !important;
    border: 2px #234CAD solid;
}

.login-signup .hvr-radial-out:before {
    background: #234CAD;
    border-radius: 4rem;
}

.login-signup #login:hover {
    /* background-color: #234CAD !important; */
    color: #fff !important;
}

.login-signup #signup {
    border: none;
    color: #234CAD !important;
    background-color: #F2F6FF !important;
}

.login-signup #signup:hover {
    /* background-color: #234CAD !important; */
    color: #fff !important;
}

/* banner */
.banner {
    padding-top: 130px;
    padding-bottom: 95px;
}
.banner .container .row {
    border-radius: 4rem;
    background-color: #F2F6FF;
}

/* .banner .container .row {
    padding-top: 138px;

} */

/* sisi kiri banner */
.banner .desc-left {
    margin-top: 138px;
}

.banner .desc-left h1 {
    color: #234CAD;
    line-height: 55px;
    font-size: 38px;
    font-weight: 700;
}

.banner .desc-left p {
    color: #234CAD;
    line-height: 21px;
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
}

.banner .desc-left .btn {
    color: #234CAD !important;
    border: 2px #234CAD solid;
    font-weight: 700;
    width: 150px;
    height: 47px;
}

.banner .desc-left .btn:hover {
    background-color: #234CAD !important;
    color: #fff !important;
    border: none;
}


/* sisi kanan banner */
/* .header .desc-right {
    padding-top: 10px;
} */

/* col 1 sisi kanan */
/* row 1 */
/* #file-icon {
    color: #234CAD;
    width: 65px;
    height: 65px;
} */

/* row 2 */
/* .border-cloudup .rounded-circle {
    border-style: solid;
    border-width: thin;
    border-color: #234CAD transparent transparent transparent;
    
} */

/* #cloud-up {
    font-size: 19px;
    background-color: #F2F6FF;
    color: #234CAD;
    
} */

/* .up-sec .up-title {
    font-size: 16px;
    font-weight: 700;
    color: #234CAD;
} */

/* .up-sec .up-byte {
    font-size: 12px;
    font-weight: 400;
    color: #234CAD;
} */

/* col 2 sisi kanan */
/* .up-vertical .container-fluid {
    width: 140px;
    height: 170px;
}

.up-vertical .progress-circle {
    background-color: white !important;
}
.up-vertical .progress-circle:after {
    background-color: #f2f6ff !important;
}

.up-vertical .first50-bar {
    background-color: #234CAD !important;
}

.up-vertical .value-bar {
    border: 0.45em solid #234CAD !important;
} */

/* #cloud-up-ver {
    font-size: 30px;
    background-color: #F2F6FF;
    color: #234CAD;
    border-style: solid;
    border-width: thin;
    border-color: #234CAD #234CAD #234CAD transparent;
    transform: rotate(-15deg);
} */

/* .up-byte-ver {
    font-size: 10px;
    font-weight: 400;
    color: #234CAD;
} */

/* product */
/* benefits */
.benefits {
    margin-top: 100px;
}

.cloud-sec .rounded-circle {
    height: 80px;
    width: 85px;
    background-color: #F2F6FF;
}

.cloud-title {
    font-size: 23px;
    font-weight: 600;
    color: #234CAD;
}

.cloud-desc {
    font-size: 15px;
    font-weight: 400;
    color: #234CAD;
}

#icon-lock {
    height: 60px;
}
.lock-sec .rounded-circle {
    height: 80px;
    width: 85px;
    background-color: #F2F6FF;
}

.lock-title {
    font-size: 23px;
    font-weight: 600;
    color: #234CAD;
}

.lock-desc {
    font-size: 15px;
    font-weight: 400;
    color: #234CAD;
}

/* features 1 */
/* kiri */
.product-feat-1 {
    margin-bottom: 230px;
}

.product .parent {
    padding-top: 50px;
}

.product .parent .con-left {
    border-radius: 4rem;
    background-color: #F2F6FF;
}

.product .child-1 {
    padding: 118px 0 115px 0;
}

/* .child-1 .shadow-1 {
    background: linear-gradient(34.55deg, #234CAD 9.21%, rgba(35, 76, 173, 0.5) 110.31%);
    mix-blend-mode: normal;
    opacity: 0.05;
    filter: blur(67.957px)
} */

.child-1 .card-con-1 {
    width: 438px;
}

.child-1 .card-con-2 {
    width: 350px;
}

.child-1 .card-con-3 {
    width: 262px;
}

.card-con-1 .img-con-1 {
    width: 388px;
}

.card-con-2 .img-con-2 {
    width: 310px;
}

.card-con-3 .img-con-3 {
    width: 231px;
}

/* kanan */
.con-right h1 {
    font-size: 42px;
    font-weight: 700;
    color: #234CAD;
}

.con-right p {
    font-size: 18px;
    font-weight: 400;
    color: #234CAD;
}

.con-right .btn {
    color: #234CAD !important;
    border: 2px #234CAD solid;
    font-weight: 700;
    width: 150px;
    height: 47px;
    margin-top: 20px;
}

.con-right .btn:hover {
    background-color: #234CAD !important;
    color: #fff !important;
    border: none;
}

/* features 2 */
.product-feat-2 {
    margin-top: 150px;
}
.product .title-feat-2 h1 {
    font-size: 48px;
    font-weight: 700;
    color: #234CAD;
}

.product .desc-feat-2 {
    width: 40%;
    font-size: 16px;
    font-weight: 400;
    color: #234CAD;
}

.product-feat-2 .features-2 {
    border-radius: 4rem;
    background-color: #F2F6FF;
    margin-top: 100px;
}

.features-2 img {
    height: 595px;
}

/* about */
/* kiri */
.about {
    margin-top: 200px;
}

.about-left h1 {
    font-size: 42px;
    font-weight: 700;
    color: #234CAD;
}

.about-left p {
    font-size: 18px;
    font-weight: 400;
    color: #234CAD;
}

.about-left .btn {
    color: #234CAD !important;
    border: 2px #234CAD solid;
    font-weight: 700;
    width: 150px;
    height: 47px;
    margin-top: 20px;
}

.about-left .btn:hover {
    background-color: #234CAD !important;
    color: #fff !important;
    border: none;
}

/* kanan */
.about .parent .about-right {
    border-radius: 4rem;
    background-color: #F2F6FF;
}

.child-1 .img-about {
    width: 627px;
    
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --hijau:#234CAD;
  --black:#234CAD;
  --white:#fff;
  --light-color:#234CAD;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.3);
  --border-radius: 37.5px;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

section {
  padding: 5rem 10%;
}

.btn1 {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--white);
  color: var(--black);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  border-radius: 37.5px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  text-decoration: none;
}

.btn1:hover {
  background: var(--hijau);
  color: var(--black);
  color: #fff !important;
  border: none;
}

@-webkit-keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

.btn2 {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--white);
    color: var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
    border-radius: 37.5px;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    border:  3px solid #234CAD;
    text-decoration: none;
  }

  .btn2:hover {
    background: var(--hijau);
    color: var(--black);
    color: #fff !important;
    border: none;
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      top: 50%;
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      top: 50%;
      opacity: 0;
    }
  }

.pricing {
  background: var(--light-bg);
}

.pricing .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.pricing .box-container .box {
  background: var(--white);
  text-align: center;
  padding: 2rem;
  border: var(--border);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  border-radius: 60px;
}

.pricing .box-container .box2 {
    background: #F2F6FF;
    text-align: center;
    padding: 2rem;
    border: var(--border);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    border-radius: 60px;
  }

  .pricing .box-container .box2 i {
    font-size: 3rem;
    height: 7rem;
    width: 7rem;
    line-height: 7rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    background: var(--yellow);
    color: var(--black);
  }
  
  .pricing .box-container .box2 h3 {
    font-size: 2rem;
    color: var(--black);
    text-transform: capitalize;
    font-weight: normal;
  }
  

.pricing .box-container .box i {
  font-size: 3rem;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  background: var(--yellow);
  color: var(--black);
}

.pricing .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  font-weight: normal;
}

.pricing .text .ap{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #234CAD;
    margin-top: 10px;
    margin-bottom: 60px;
}
.pricing .text .rtx{

font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
/* identical to box height, or 117% */

text-align: center;

color: #234CAD;
}

.pricing .box-container .box .price {
  padding: 1rem 0;
  font-size: 5rem;
  color: var(--black);
  text-transform: capitalize;
  
}

.pricing .box-container .box .price span {
  font-size: 2rem;
}

.pricing .box-container .box .list {
  padding: 1rem 0;
}

.pricing .box-container .box .list p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.pricing .box-container .box2 .price {
    padding: 1rem 0;
    font-size: 5rem;
    color: var(--black);
    text-transform: capitalize;
    
  }
  
  .pricing .box-container .box2 .price span {
    font-size: 2rem;
  }
  
  .pricing .box-container .box2 .list {
    padding: 1rem 0;
  }
  
  .pricing .box-container .box2 .list p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--light-color);
    line-height: 2;
  }

@media (max-width: 1200px) {
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}
 

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}